body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.Boutique_panier {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 70vh;
    width: 100%;
    border-top: 2px rgb(49, 180, 114) groove;
    z-index: 0;
}

#Ouvrir_panier {
    position: fixed;
    cursor: pointer;
    display: block;
    bottom: 10px;
}